.custName_icon {
    display: flex;
}

.profile_navbar {
    display: flex;
    margin: 5px 6px;
}

.userdetail {
    display: flex;
    flex-direction: column;
    width: 61%;
    margin-left: 10px;
}

.userInfo {
    display: flex;
    margin-left: 10px;
    width: 57%;
}

.users_pitch {
    margin: 10px;
    border-radius: 6px;
    /* border: #727272 solid 2px; */
    width: 80%;
    height: 200px;
    background-color: #2d2d2d;
    padding: 7px 31px;
}

.users_delivery {
    border-radius: 6px;
    margin: 10px;
    /* border: #727272 solid 2px; */
    width: 100%;
    height:200px;
    background-color: #2d2d2d;
    padding: 5px;
}

.users_pitch h1,
.users_delivery h1 {
    color: #f5b81d;
}

.users_pitch h5 {
    font-weight: 100;
    font-size: 16px;
}

.users_delivery h5 {
    font-weight: 100;
    font-size: 16px;
}

.users_delivery b {
    color: red;
}

.users_pitch b {
    color: green;
}
.user_pitch_width{
    width: 135%;
}
.notVerified_user {
    /* background-color:"#161616" !important; */
    display: flex;
    align-items: center;
    width: 40%;
    background-color: #161616;
    padding: 40px 20px;
    border-radius: 3px;
    justify-content: space-between;
    height: max-content;
    margin-top: 5px;
    margin-right: 20px;
}

.notVerified_user_text {
    width: 60%;
    font-weight: normal;
}

.notVerified_user_text p {
    font-size: 24px;
    margin: 3px;
    margin-bottom: 10px;
    font-weight: 600;
}

.notVerified_user_text span {
    font-size: 14px;
    color: #727272;
    /* color: #ffb600; */
}

.notVerified_user_button {
    /* background-color: #727272; */
    width: 40%;
}

.notVerified_user button {
    border: 3px solid #ffb600;
    font-weight: 200;
    color: #ffb600;
    padding: 15px 20px;
    margin-right: 10px;
    border-radius: 4px;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
}

.usersActivity_div {
    display: flex;
    width: 56%;
    /* justify-content: space-between; */
}

.info {
    display: flex;
    margin: 2px 25px;
    width: max-content;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.info div {
    margin: 0 10px;
    width: 100%;
}

.info div h3 {
    font-weight: normal;
    color: #727272;

}

.info div h4 {
    font-weight: normal;
    font-size: 15px;
}

.row {
    display: flex;
    margin: 0 25px;
    width: max-content;
}

.hover_txt {
    position: absolute;
    color: rgb(243, 188, 70);
    text-align: center;
    font-size: 15px;
    top: 34%;
    left: 33%;
}

.logout_btn {
    line-height: 1.3;
    font-size: 20px;
    margin-right: 10px;

}

.logout_btn button {
    line-height: 1.3;
    font-size: 20px;
    margin-left: 0px;
}

.address_btn {
    line-height: 1.3;
    font-size: 20px;
    margin-left: 20px;
    cursor: pointer;

}

.address_btn button {
    line-height: 1.3;
    font-size: 20px;
    margin-left: 20px;
    border: none;
    margin: 5px;
    background-color: inherit;
    height: max-content;
    cursor: pointer;
    width: max-content;
}

.row h1 {
    font-weight: 500;
    /* margin:0 23px; */
}

.row img {
    margin: 20px 3px;
}

.row h3 {
    font-weight: 400;
    font-size: 20px;
    border: orange solid 2px;
    color: #ffb600;
    margin-top: 6%;
    margin-left: 5px;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 30px;
    min-width: -moz-fit-content;
    min-width: fit-content;
    padding: 3px 5px;
    border-radius: 5px;
    width: max-content;
}

.profilePercent {
    width: 25%;
    position: relative;
    /* margin: 15px 25px; */
}



@media(max-width:1150px) {
    .profilePercent {
        margin: 0;
        width: 35%;
    }

    .row {
        display: block;

    }

    .info {
        display: flex;
        flex-wrap: wrap;
        width: auto;
    }


}

@media(max-width:1050px) {

    .info div {
        margin: 0;
        width: auto;
    }

    .profilePercent {
        margin: 0;
        width: 39%;
    }

    .row {
        display: block;
    }

    .info {
        display: flex;
        flex-wrap: wrap;
        width: auto;
    }

    .profile_navbar {
        /* display: block; */
        margin: 5px 0px;

    }

    .users_delivery {
        height: 230px;
        padding:7px 20px;
        width: 80%;

    }

    .users_pitch {
        height: 230px;
        padding:7px 20px;
    }
}

@media(max-width:950px) {
    .users_delivery {
        height: auto;
    }

    .users_pitch {
        height: auto;
    }
    .userInfo {
        font-size: 15px;
        width: 100%;
    }

    .usersActivity,
    .userInfo h1 {
        font-size: 30px;
    }

    .profilePercent {
        width: 150px;
        height: 150px;
        object-fit: contain;
    }

    .row h3 {
        /* display: flex; */
        margin-top: 3%;
        margin-left: 5px;
        height: fit-content;
    }

    .usersActivity_div {
        display: flex;
        width: 100%;
    }

    .usersActivity h5 {
        font-size: 20px;
        margin: 0;
    }

    .profile_navbar {
        display: block;
        margin: 5px 0px;
    }

    .logout_btn button {
        margin-left: 1px;
        display: flex;
        align-items: center;
        height: 40px;
        padding: 5px;
    }
}

@media(max-width:600px) {
    .notVerified_user {
        /* background-color:"#161616" !important; */
        display: block;
        align-items: center;
        width: 100%;
        background-color: #161616;
        padding: 40px 20px;
        border-radius: 3px;
        justify-content: space-between;
        height: max-content;
        margin-top: 5px;
        margin-right: 20px;
    }

    .notVerified_user_text {
        width: fit-content;
        font-weight: normal;
    }

    .notVerified_user_text p {
        font-size: 24px;
        margin: 3px;
        margin-bottom: 10px;
        font-weight: 600;
    }

    .notVerified_user_text span {
        font-size: 14px;
        color: #727272;
        width: 90px !important;
    }

    .notVerified_user_button {
        /* background-color: #727272; */
        width: 40%;
    }

    .notVerified_user button {
        border: 3px solid #ffb600;
        font-weight: 200;
        color: #ffb600;
        padding: 5px 5px;
        margin-right: 10px;
        border-radius: 4px;
        font-size: 14px;
        background-color: transparent;
        cursor: pointer;
    }

    .row {
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-top: 20px;
    }

    .row h3 {
        padding: 0;
        font-size: 13px;
        margin-top: 6%;
    }

    .profile_navbar {
        display: flex;
        flex-direction: column;
    }

    .userInfo {
        display: flex;
        /* justify-content: space-between; */
        width: 100%;
    }

    .userdetail {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .userdetail div {
        margin: 0 25px;
    }

    .usersActivity {
        border: #727272 solid 2px;
    }

    .usersActivity h1 {
        margin: 0;
        font-size: 30px;
    }

    .usersActivity_div {
        width: 100%;
        display: block;
    }

    .users_pitch {
        /* margin: 5px; */
        width: 85%;
        height: 130px;
        padding: 10px;
    }
    .users_pitch h1 ,h5 {
        margin: 8px 5px;
    }

    .users_delivery {
        /* margin: 5px; */
        width: 85%;
        height: 130px;
        padding: 10px;;
    }
    .users_delivery h1 ,h5 {
        margin: 8px 5px;
    }

    .usersActivity h5 {
        font-size: 20px;
        margin: 0;
    }

    .profilePercent {
        width: 154px;
        height: 150px;
        object-fit: contain;
    }
}

@media(max-width:400px) {

    .usersActivity,
    .userInfo h1 {
        font-size: 20px;
    }

    .userInfo {
        justify-content: space-between;
    }

    .row h1 {
        width: max-content;
    }
    .row{
        margin-right: 75px;
        margin-top: 25px;
    }
    .users_pitch {
        /* margin: 5px; */
        width: 88%;
    }

   

}

@media(max-width:376px) {

    .row h1 {
        width: auto;
        font-size: 17px;
    }

    .userdetail div {
        margin: 0 15px;
    }

    .profilePercent {
        width: 33%;
    }
    .row h1 {
        width: max-content;
        font-size: 24px;

    }

    /* .logout_btn button {
        margin-left: -2px;
    } */
    .users_pitch {
        padding: 5px;
    }
  
}

@media(max-width:356px) {
   
    .row{
        margin-right: 55px;
        margin-top: 25px;
    }
}

@media(max-width:316px) {



    .addNewAddress_btn div {
        display: none;
    }

    .addNewAddress_btn {
        background-color: transparent !important;
    }

    .address {
        padding: 0px;
        display: flex;
        margin: 5px 0px;
        background-color: #262424;
        flex-wrap: wrap;
    }

    .feedback_div {
        margin-left: 0;
    }

    .address_btn {
        margin-left: 0px;
    }


}