.units {
  appearance: none;
  width: 100px;
  height: 17px;
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
  background: url("../../../Images/ArrowOrange.png") no-repeat right ;
  background-size: 12px;
  border: 2px double red;
  display: inline-block;
  position: relative;
  padding-left: 10px;
  background-position: 90%;
}

.units select {
  background: transparent;
  -webkit-appearance: none;
  width: 100px;
  font-size: 11px;
  border: 0;
  height: 17px;
  position: absolute;
  left: 0;
  top: 0;
}


.requests-unavailable-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

/* .box-svg {
  width: 100%;
} */

.requests-unavailable-header {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #F5F5F5;
  margin-top: 3rem;

}

.request-unavailable-desc {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #8A8A8A;
  margin-top: 3rem;
  /* white-space: pre-wrap;
  word-wrap: break-word; */
}

.request-unavailable-btn {
  margin-top: 3rem;
}

.request-unavailable-btn-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  display: f;
}
.request-unavailable-btn-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #08090C;
}



/*.MuiSelect-selectMenu {
  height:0px !important;
  min-height: 0px !important;
}*/
.requestuser {
  background-color: #08090c;

  padding-top: 3rem;
  padding-bottom: 3rem;
  color: white;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}
.recentuser {
  /* box-shadow: 10px 10px 5px transparent; */

  border-radius: 10px;
  background: #08090c;
  padding: 1rem 0rem;
  margin-bottom: 3rem;

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.recentuser > p {
  margin: 0;
  margin-left: 1rem;
}
.breadcrumbsuser {
  margin-top: -1rem;
  margin-left: 2% !important;
  margin-bottom: 2%;
}
.breadcrumbsuser > h3 {
  margin: 0;
  font-size: 16px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
}

.demanduser {
  display: flex;
  padding: 2rem;

  justify-content: flex-start;
  align-items: flex-start;
}
.demanduser > h3 {
  font-size: 12px;
}

.hexuser {
  height: 180px !important;
  border: none !important;
  color: #fff !important;
}
.hex1user {
  background-color: #fff !important;
}
.tablesectionuser1 {
  display: flex;
  width: 97%;
  padding: 0rem 1.25%;
  justify-content: space-between !important;
  align-items: center !important;
}
.switchsectionuser1 {
  width: 200%;
  display: flex;
  justify-content: space-around !important;
  font-size: small;
}
.tab {
  border: 2px solid transparent;
  cursor: pointer;
  width: 26%;
  text-align: center;
  padding-top: 2%;
  border-radius: 5px;
  padding-bottom: 2%;
  justify-content: space-around;
  font-weight: 600;
}
.quantity-div {
  padding: 0.7%;
  padding-left: 1%;
  padding-right: 1%;
  background-color: #484848;
  border-radius: 2px;
}
.request-search {
  color: white;
  border-radius: 5px;
  padding: 10px;
  width: 300%;
  height: 20px;
  margin-top: 10%;
  background-color: #17191C;
  border: 0px;
}
input.request-search{
  background-image: url("../../../Images/SearchGrey.svg");
  background-repeat: no-repeat;
  text-indent: 20px;
  background-position: 10px center;
  background-size: 15px;
 }


.filteruser1 {
  margin-top: 5%;
  display: flex;
  /* width: 30%; */

  justify-content: flex-end;
}
.filter-tag {
  margin-top: 4%;
  margin-right: 5%;
}
.orangeuser {
  color: #ffb600;
}
.whiteuser {
  color: white;
}
.orangelineuser {
  border-color: #ffb600;
  background-color: #ffb600;
}
.whitelineuser {
  display: none;
}
.filter_itemuser {
  background-color: transparent;
  color: #fff;
}

.tableuser {
  align-items: center !important;
  justify-content: center !important;
  width: 95%;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.countmattersuser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 9rem;
  padding-top: 3rem;
}

.countmattersuser > h1 {
  margin-bottom: 1rem;
}
.demand1user {
  /* display: flex; */
  position: relative;
  padding: 2rem;

  width: 100%;

  justify-content: center;
  align-items: center;
}
.demand1user > h3 {
  padding: 0rem 1rem;
}
.recent_with_hexuser {
  position: relative;
  border-radius: 0;
  height: 284px;
}
.recent_with_hexuser::after {
  content: "";
  position: absolute;
  background-color: #121417;
  width: 100%;
  height: 30%;
  bottom: 0;

  padding-bottom: 0;
}
.req-dropdown {
  min-width: 150px !important;
}
.stats-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
  background-color: #08090c;
}
.stats-div {
  width: 210px;
  height: 140px;
  padding: 20px;
  background-color: #121417;
}
.stats-div1 {
  width: 440px;
  height: 140px;
  padding: 20px;
  background-color: #121417;
}
.stats-div1-header {
  color: white;
  font-size: large;
  margin-bottom: 5%;
}
.stats-div1-description {
  color: #484848;
  font-size: small;
}
.num {
  color: #ffb600 !important;
  font-size: xx-large;
  margin-bottom: 3%;
  text-align: left !important;
}
.percent {
  color: green;
  font-size: small;
  margin-top: 5%;
}
@media screen and (max-width: 1350px) {
  .stats-div {
    width: 180px;
    height: 120px;
  }
  .stats-div1 {
    width: 370px;
    height: 120px;
  }
  .request-search {
    width: 250%;
  }
  .switchsectionuser1 {
    width: 220%;
  }
}
@media screen and (max-width: 1200px) {
  .stats-div {
    width: 160px;
  }
  .stats-div1 {
    width: 340px;
  }
  .request-search {
    width: 220%;
  }
  .switchsectionuser1 {
    width: 200%;
  }
}
@media screen and (max-width: 1100px) {
  .stats-div {
    width: 140px;
  }
  .stats-div1 {
    width: 300px;
  }
  .request-search {
    width: 220%;
  }
  .switchsectionuser1 {
    width: 200%;
    font-size: 11px;
  }
}
@media screen and (max-width: 1000px) {
  .stats-div {
    width: 120px;
  }
  .stats-div1 {
    width: 250px;
  }
  .request-search {
    width: 200%;
  }
  .switchsectionuser1 {
    width: 200%;
    font-size: 10px;
  }
  .filteruser1 {
    margin-right: 10%;
    margin-left: 300px !important;
  }
  .recent_with_hexuser::after {
    content: "";
    position: absolute;
    width: 100%;
    height: max-content !important;
    bottom: 0;

    padding-bottom: 0;
  }
}
/*@media screen and (max-width: 900px) {
  .stats-div {
    width: 80px;
  }
  .stats-div1 {
    width: 170px;
  }
  .request-search {
    width: 180%;
  }
  .switchsectionuser1 {
    width: 200%;
    font-size: 8px;
  }
  .filteruser1 {
    margin-left: 190px !important;
  }
}
@media screen and (max-width: 750px) {
  .filteruser1 {
    margin-left: 200px !important;
  }
}*/

@media screen and (max-width: 950px) {
  .filteruser1 {
    margin-left: 0px !important;
  }
  .stats-container {
    flex-wrap: wrap;
  }
  .stats-div {
    width: 40%;
    height: 100px;
    margin-bottom: 2%;
  }
  .stats-div1 {
    width: 90%;
    height: 100px;
    margin-bottom: 2%;
  }
  .stats-div2 {
    width: 90%;
  }
  .tablesectionuser1 {
    width: 32%;
    flex-direction: column;
  }
  .switchsectionuser1 {
    width: 300%;
    font-size: 10px !important;
    text-align: center;
    align-items: center;
    margin-bottom: 4%;
    margin-left: -5%;
  }
  .request-search {
    width: 290%;
    margin: auto;
  }
  .filteruser1 {
    margin-right: -400%;
  }
  .stats-div2 .num{
    margin-bottom:1%;
  }
  .stats-div2 .percent{
    margin-top:1.5%;
  }
}
@media screen and (max-width: 500px) {
  .stats-container {
    justify-content: space-around;
  }
  .stats-div {
    width: 35%;
    margin-bottom: 2%;
  }
  .stats-div1 {
    width: 85%;
    margin-bottom: 2%;
  }
  .stats-div2 {
    width: 85%;
    margin-bottom: 2%;
  }
  .req-dropdown {
    min-width: 140px !important;
    max-width: 140px !important;
    margin-left: 5% !important;
    margin-right: 15% !important;
  }
  .request-search {
    width: 275%;
    margin: auto;
  }
  .MuiSelect-outlined.MuiSelect-outlined {
    width:140px;
  }
}
@media screen and (max-width: 400px) {

  .req-dropdown {
    min-width: 140px !important;
    max-width: 140px !important;
    margin-left: 5% !important;
    margin-right: 15% !important;
  }
  .stats-container {
    justify-content: space-around;
  }
  .stats-div {
    width: 35%;
    margin-bottom: 2%;
  }
  .stats-div1 {
    width: 85%;
    margin-bottom: 2%;
  }
  .stats-div2 {
    width: 85%;
    margin-bottom: 2%;
  }
}

@media screen and (max-width: 1000px) {
  .demanduser {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .demand1user {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    position: none;
    padding: 2rem;
    padding-left: 0px;
  }
  .countmattersuser {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding-left: 1rem;
    padding-top: 1rem;
  }
  .countmattersuser > h1 {
    margin-bottom: 0;
  }
  .recent_with_hexuse {
    background-color: #121417;
    width: 100%;
    height: 100%;
  }
  .recent1 {
    /* box-shadow: 10px 10px 5px transparent; */

    border-radius: 10px;
    background: #08090c;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 700px) {
  .recent_with_hexuser::after {
    content: "";
    position: absolute;
    background-color: #121417;
    width: 100%;
    height: fit-content;
    bottom: 0;

    padding-bottom: 0;
  }
  .recent1 {
    /* box-shadow: 10px 10px 5px transparent; */

    border-radius: 10px;
    background: #08090c;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: max-content !important;
    padding-bottom: 0% !important;
    margin-bottom: 0% !important;
  }
}


@media screen and (max-width: 500px) {
  .tab {
    margin-left: -3%;
    width: 220%;
  }
}